body{

margin:0;
font-family:Arial;
background:#120000;
color:white;
text-align:center;

}

header{

background:#b30000;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;

}

nav a{

margin:10px;
color:white;
text-decoration:none;

}

.hero{

padding:100px 20px;
background:linear-gradient(#1b0000,#330000);

}

.mainbtn{

background:red;
padding:15px 30px;
color:white;
text-decoration:none;
border-radius:8px;

}

.categories{

display:flex;
justify-content:center;
gap:30px;
padding:50px;

}

.cat{

background:#2b0000;
padding:25px;
border-radius:10px;
width:200px;

}

.featured{

padding:40px;

}

.cards{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;

}

.card{

background:#1a0000;
padding:15px;
border-radius:10px;

}

.card img{

width:100%;
border-radius:6px;

}

.card a{

display:inline-block;
margin-top:10px;
background:red;
padding:10px 20px;
color:white;
text-decoration:none;
border-radius:6px;

}

.thumb{

width:500px;
margin-top:30px;
border-radius:10px;

}

textarea{

width:80%;
height:200px;
margin-top:20px;

}

.pagination{

margin-top:30px;

}

footer{

background:#b30000;
padding:20px;
margin-top:40px;

}

canvas{

position:fixed;
top:0;
left:0;
pointer-events:none;

}
